.totalStakedByLevel {
  padding: 2rem 4rem;
}

.totalStakedByLevel {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.filter_Buttons {
  display: flex;
  align-items: center;
  justify-content: right;
}

.filter_Buttons>button {
  padding: 0.5rem 1rem;
  margin: 0rem 0.5rem;
}

.users {
  width: 90%;
  margin: 2rem auto;
}

.filter_select {
  font-size: 1rem;
  margin: 0rem 0.5rem;
}